<div class="product">
    <img src="{{product.image}}" class="product-img">
    <h3 class="product-name">{{product.name}}</h3>
    <span class="product-price">{{product.price}}</span>
    <span class="product-description">{{product.description}} ({{product.carClass}})</span>
    <h4 class="product-equivalents-title">Equivalents:</h4>
    <ul class="product-equivalents">
        <li *ngFor="let equivalent of product.equivalents">
            <a href="#" class="product-equivalent">{{equivalent}}</a>
        </li>
    </ul>
    <button type="button" class="btn primary-btn" (click)='onAddProduct()'>Add to cart</button>
</div>