<div class="cart-item">
    <span class="cart-item-name">{{cartItem.name}}</span>
    <span>
        <span class="cart-item-mine"
              (click)="onReduceQuantity()"
              [ngClass]="{'disable': this.cartItem.quantity <=1 }">-</span>
        <input class="cart-item-quantity" [(ngModel)]="cartItem.quantity">
        <span class="cart-item-plus"
              [ngClass]="{'disable': isQuantityIncrease}"
              (click)="onInreaseQuantity()">+</span>
    </span>
    <span class="cart-item-price">{{cartItem.price | currency}}</span>
    <span class="cart-item-total">{{ cartItem.quantity * cartItem.price | currency}}</span>
    <span class="cart-item-delete" (click)="onDeleteCartItem()"></span>
</div>
